<div class="container-fluid" style="margin-top: 50px;">
    <div class="row-fluid">
        <div class="span3">
            <h3>Impressum, Nutzungs&shy;bedingungen und Datenschutz</h3>
        </div>
        <div class="span9" style="margin-top: 20px;">
            <p>
                Bitte <a href="http://meta.geraspora.de/pod/legal.html">klicke hier</a> für
                eine aktuelle Version des Impressums, den Nutzungsbedinungen und
                unseren Datenschutzbestimmungen.
            </p>
        </div>
    </div>
</div>
