<%- content_for(:head) do %>
  <%= stylesheet_link_tag "geraspora/landing", media: "all" %>
<% end %>

<div id="custom-home-page" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="/images/gerasporaStar.png" alt="Geraspora" width="200" />
    </div>
  </div>

  <div id="welcome-container" class="text-center">
    <h3>Willkommen bei Geraspora,</h3>
    <h4>dem größten deutschen Diaspora-Pod.</h4>
  </div>

  <div id="pro-container" class="row">
    <div class="col-sm-4">
      <h2 class="text-center">Deine Freiheit</h2>
      <p>
        Geraspora lässt dich deine Kontakte in Gruppen einordnen. Deine Fotos,
        Geschichten und Witze werden durch diese Aspekte nur mit den Menschen
        geteilt, für die sie gedacht sind &ndash; einzigartig bei Geraspora.
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="text-center">Dein Eigentum</h2>
      <p>
        Deine Bilder gehören dir. Um sie zu teilen, musst du darauf nicht
        verzichten: Alles, was du auf Geraspora teilst, bleibt dein Eigentum –
        mit voller Kontrolle über die Verbreitung.
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="text-center">Ganz einfach</h2>
      <p>
        Geraspora macht das Teilen von Inhalten klar und einfach – dasselbe
        gilt für den Schutz deiner Privatsphäre. Geraspora ist von sich aus
        privat, seitenweise Einstellungen für die Profilsicherheit sind nicht
        nötig.
      </p>
    </div>
  </div>

  <div id="action-container" class="text-center">
    <h3>
      <%= link_to "Einloggen", new_user_session_path %> oder
      <%= link_to "registrieren", new_user_registration_path %>.
    </h3>
    <div class="legal">
      <p>
        CC-BY-SA Geraspora Team, <a href="http://pages.geraspora.de/legal.html"
        target="_blank">Impressum, Nutzungsbedingungen und Datenschutz</a>
      </p>
    </div>
  </div>
</div>
